{{define "content"}}
<h1>groups</h1>
<table>
    <tr><th>id</th><th>name</th><th>description</th><th></th></tr>
    {{range .Groups}}
    <tr>
        <td>{{.ID}}</td>
        <td><a href="/admin/groups/{{.ID}}">{{.Name}}</a></td>
        <td>{{.Description}}</td>
        <td></td>
    </tr>
    {{end}}
</table>

<h2>create group</h2>
<form class="stack" method="post" action="/admin/groups">
    <label>name
        <input type="text" name="name" required>
    </label>
    <label>description
        <input type="text" name="description">
    </label>
    <button type="submit">create</button>
</form>
{{end}}
